---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
---

<BaseLayout title="Cassandra - Portfolio">
	<Header />
	
	<main>
		<h1>Cassandra<h1>
		<p>
			Portfolio de projets en référencement web, cybersécurité et montage vidéo.
		</p>

		<nav>
			<ul>
				<li><a href="/projets/">Projets</a></li>
				<li><a href="/a-propos/">A propos</a><li>
				<li><a href="/contact/"<Contact</a><li>
			</ul>
		</nav>
	</main>
</BaseLayout>
