---
const {
  title = "Cassandra - Portfolio",
  description = "Portfolio de Cassandra : projets web, SEO, cybersécurité et créations numériques."
} = Astro.props;

import "../styles/global.css";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>

    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <meta name="google-site-verification" content="dnKLwGKo8-ehW" />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>

  <body>
    <slot />
  </body>
</html>

